<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>APS Termometro</title>
     <!-- Compiled and minified CSS -->
    
     <link rel="stylesheet" href="css/style.css">
</head>
<body >   
    <div class="main">

        <div class="conteudo">
            <% if(!dados){ %>
                <h1 style="color: red;">Erro de acesso ao banco de dados!</h1>
            <% }else{ %>

                <h1>Temperatura: <%=dados.temperatura%>°C</h1>
                <p>Data do registro: <%= dados.data %> </p>

            <% } %>
            
        </div>
        
    </div>
   
</body>
</html>